{% extends 'base.html.twig' %}

{% block title %}New CRequest{% endblock %}

{% block body %}
    <h1>Create new CRequest</h1>

    {{ include('demande/_form.html.twig') }}

    <a href="{{ path('demande_index') }}">back to list</a>
{% endblock %}
